<div class="container">
    <div class="btn-group top-btn-group-design">
      <button type="button" class="btn btn-color-b2b button-responsive-width">B2B Dealer Portal</button>
      <button type="button" class="btn btn-color-top button-responsive-width">Web Content Management</button>
      <button type="button" class="btn btn-color-top button-design button-responsive-width">Administration</button>
      <button type="button" class="btn btn-color-top button-design button-responsive-width">Application</button>
      <button type="button" class="btn btn-color-top button-design button-responsive-width">Tag Center</button>
    </div>
    <br />
    <br />
    <br />
    <div class="quality-guide-design">
      <p class="font-color-quality">Quality Guide</p>
    </div>
    <br />
    <br />
    <br />
    <div>
      <div class="row">
        <button type="button" class="btn btn-color-folder">Folder View</button>
        <button type="button" class="btn btn-color">New Folder</button>
      </div>
    </div>
</div>