.top_align {
    background-color: #1c1c1e;
    padding-bottom: 16px;
    margin-bottom: -27px;
    margin-top: 0px;
}

.card-user-guide {
    margin-top: 25px;
    background-color: #25262c;
    box-shadow: 0 4px 8px 0 #00000033;
    width: 98%;
    background-origin: padding-box;
    margin-left: 22px;
    padding: 20px;
}

.row-card-design {
    width: 100%;
    margin-left: -15px;
}

.button-design {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}

.btn-color {
    color: #b6b1b1;
    background-color: #1C1C1E;
}
.btn-color:hover {
    color: #b6b1b1;
    border-color: #F7255A;
}

.top-menu-card {
    margin-top: 25px;
    background-color: #25262c;
    box-shadow: 0 4px 8px 0 #00000033;
    background-origin: padding-box;
}