.row-button {
    float: right;
}

.row-button button,
.row-button a {
    margin-right: 8px;
}

.form{
    padding-left: 300px;
    padding-right: 300px;
}
.cancelbutton {
    float: right;
}
.uploadButton{
    margin-left: 90px;
}