<div class="top_align">
  <div class="row row-card-design">
    <div class="card card-design">
      <app-application></app-application>
      <div class="row row-card-design">
        <div class="card card-design-social">
          <app-social-fb></app-social-fb>
        </div>
      </div>
    </div>
    <div class="card card-announce-design">
      <app-announcement></app-announcement>
    </div>
  </div>
  <div class="card card-user-guide">
    <app-user-guide></app-user-guide>
  </div>
  <div class="card card-user-guide">
    <app-quality-guide></app-quality-guide>
  </div>
</div>