landing
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="gep-text-block-acoustic">
            <h1 class="font-weight-light">TOGETHER, LET’S MOVE BEYOND</h1>
            <p>OUR DEALERS ARE OPEN & PRACTICING SOCIAL DISTANCING</p>

            <a href="https://nissan.ibmavp.wcm-x.com/">
                <button class="btn btn-primary ibmbtn"> Read More </button>
            </a>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
        <p>
            <img class="gep-ibm-resize-acoustic" src="assets/extractedimg/NISSAN_FIGHTBACK.jpg">
        </p>
    </div>
</div>
<div class='gep-ibmthirdtag' id='template-ixavc' class="takata-call">
    <div class='takata' id='template-ib5nk'>
        <h2 id='template-ijoth'><span>TAKATA AIRBAG INFLATOR – RECALL CAMPAIGN</span></h2>
    </div>
    <div class="link-group">
        <a class="cta cta-link takata-primary">
            More Information
        </a>
    </div>
</div>
<div class="gep-secondtag gep-mobilesecondtag">
    <h3 class="align">Nissan Feature</h3>
    <div class="card-body cardmobile">
        <div class="row card-row">
            <div class="card spacing card-width">
                <img class="gep-Firstimage gep-ibm-padding-bottom-1 card-img-top"
                    src="assets/extractedimg/imgFirstListimg.v2.png">
                <div class="card-body">
                    <div class="card-title">
                        <h3>COMMERCIAL</h3>
                    </div>
                    <p>EXPLORE THE LCV RANGE</p>

                </div>
                <a href="https://nissan.ibmavp.wcm-x.com/">
                    <button class="btn card-footer-btn"> Discover More </button>
                </a>
            </div>

            <div class="card spacing card-width">
                <img class="gep-Firstimage gep-ibm-padding-bottom-1 card-img-top"
                    src="assets/extractedimg/imgSecondlistimg.v1.png">
                <div class="card-body">
                    <div class="card-title">
                        <h3>DISCOVER THE BENEFITS</h3>
                    </div>
                    <p>NISSAN FOR BUSINESS & FLEET</p>

                </div>
                <a href="https://nissan.ibmavp.wcm-x.com/">
                    <button class="btn card-footer-btn"> Discover more </button>
                </a>
            </div>

            <div class="card spacing card-width">
                <img class="gep-Firstimage gep-ibm-padding-bottom-1 card-img-top"
                    src="assets/extractedimg/imgThirdListimg.v1.png">
                <div class="card-body">
                    <div class="card-title">
                        <h3>UEFA CHAMPIONS LEAGUE</h3>
                    </div>
                    <p>INNOVATION AND EXCITEMENT COLLIDE</p>

                </div>
                <a href="https://nissan.ibmavp.wcm-x.com/">
                    <button class="btn card-footer-btn"> Discover More </button>
                </a>
            </div>

            <div class="card spacing card-width">
                <img class="gep-Firstimage gep-ibm-padding-bottom-1 card-img-top"
                    src="assets/extractedimg/imgFourthListimg.v1.png">
                <div class="card-body">
                    <div class="card-title">
                        <h3>INTELLIGENT MOBILITY</h3>
                    </div>
                    <p>DISCOVER SMARTER DRIVING</p>

                </div>
                <a href="https://nissan.ibmavp.wcm-x.com/">
                    <button class="btn card-footer-btn"> Discover More </button>
                </a>
            </div>

        </div>
    </div>
</div>