* { box-sizing: border-box; } body {margin: 0;}.button.btn.btn-primary{margin:0 16% 0 0;}

.formclass {
    padding-left: 300px;
    padding-right: 300px;
}

.form{
    padding-left: 220px;
    padding-right: 220px;
}
.form-button{
    padding-top: 30px;
    padding-left: 200px;
    padding-right: 200px;
}
.buttonalignement{
    float: left;
    margin-left: 300px;
}
.top_align {
    // height: 80%;
    padding-top: 10px;
    box-sizing: border-box;
    margin-top: 5%;
    margin-bottom: 6%;
}
.bottomButtons {
    float: right;
}

.savebutton {
    margin-left: 30px;
}