
products
<div class="row">  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="gep-text-block-acoustic">
      <h1 class="font-weight-light">Nissan</h1>
      <p>SAVE UP TO £6,300 WHEN YOU SWITCH UP TO A NEW NISSAN</p>
      
      <a href= "https://www.nissan.co.uk/experience-nissan/events/switchup.html">
        <button  class="btn btn-primary ibmbtn" > Discover More </button>
      </a>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6">
    <p>
      <img class="gep-ibm-resize-acoustic" src="assets/extractedimg/NissanLandingImage.jpg">
    </p>
  </div>
</div><div class="gep-secondtag gep-mobilesecondtag">
    <h3 class="align">GET STARTED</h3>
    <div class="card-body cardmobile">
        <div class="row card-row">
            <div class="card spacing card-width">
                <img class="gep-Firstimage gep-ibm-padding-bottom-1 card-img-top" src="assets/extractedimg/FirstListimg.v2.png" >
                <div class="card-body">
                    <div class="card-title">
                        <h3>COMMERCIAL VEHICLES</h3>
                    </div>
                    <p>EXPLORE THE LCV RANGE</p>
                    
                </div>
                <a href= "https://www.nissan.co.uk/range/vans-trucks.html">
                    <button  class="btn card-footer-btn" > Discover More </button>
                </a>                
            </div> 
            
<div class="card spacing card-width">
                <img class="gep-Firstimage gep-ibm-padding-bottom-1 card-img-top" src="assets/extractedimg/Secondlistimg.v1.png" >
                <div class="card-body">
                    <div class="card-title">
                        <h3>NISSAN FOR BUSINESS</h3>
                    </div>
                    <p>DISCOVER THE BENEFITS</p>
                    
                </div>
                <a href= "https://www.nissan.co.uk/corporate-sales/company-cars.html">
                    <button  class="btn card-footer-btn" > Discover More </button>
                </a>                
            </div> 
            
<div class="card spacing card-width">
                <img class="gep-Firstimage gep-ibm-padding-bottom-1 card-img-top" src="assets/extractedimg/ThirdListimg.v1.png" >
                <div class="card-body">
                    <div class="card-title">
                        <h3>UEFA CHAMPIONS LEAGUE</h3>
                    </div>
                    <p>INNOVATION AND EXCITEMENT COLLIDE </p>
                    
                </div>
                <a href= "https://www.nissan.co.uk/experience-nissan/partnerships.html">
                    <button  class="btn card-footer-btn" > Discover More </button>
                </a>                
            </div> 
            
<div class="card spacing card-width">
                <img class="gep-Firstimage gep-ibm-padding-bottom-1 card-img-top" src="assets/extractedimg/FourthListimg.v1.png" >
                <div class="card-body">
                    <div class="card-title">
                        <h3>INTELLIGENT MOBILITY</h3>
                    </div>
                    <p>DISCOVER SMARTER DRIVING</p>
                    
                </div>
                <a href= "https://www.nissan.co.uk/experience-nissan/intelligent-mobility.html">
                    <button  class="btn card-footer-btn" > Discover More </button>
                </a>                
            </div> 
            
        </div>
    </div>
</div><div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="gep-text-block-acoustic">
      <h1 class="font-weight-light">EDEN HAZARD</h1>
      <p>Eden, is a winger for Spanish club Real Madrid C.F. who owns a Nissan GT-R.</p>
      
      <a href= "https://www.nissan.co.uk/experience-nissan/partnerships.html">
        <button  class="btn btn-primary ibmbtn" > Read More </button>
      </a>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6">
    <p>
      <img class="gep-ibm-resize-acoustic" src="assets/extractedimg/HAZARD.jpg">
    </p>
  </div>
</div>
