<div class="bs-example">

    <!-- Large modal -->
    <button class="btn btn-primary" id="openModalButton" [hidden]="true"  data-toggle="modal" data-target="#largeModal">Large modal</button>

    <div id="largeModal" class="modal fade" tabindex="-1" role="dialog" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Quote Type</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>You have a more the one quote type please select one</p>
                </div>
                <div class="form-group mx-auto col-md-4">
                    <label for="additionalavppercentage">Select Quote-Type Name</label>

                  <select class="custom-select" id="additionalavppercentage">
                    <option [ngValue]="quote.name" *ngFor="let quote of quoteType">{{quote.quote_type_name}}</option>
                   </select>
                  </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">OK</button>
                </div> -->
            </div>
        </div>
    </div>

   
<div class="accordion col-md-9 mt-5 mb-5" id="accordionExample">
    <div class="">
        <button type="button" class="btn btn-edit-create mb-2" (click)="newquoteType()">Create Quote-Type</button>
    </div>
    <div class="card">
        <div class="" id="headingOne">
            <h2 class="mb-0">
                <button class="btn-block text-left collopse-title collopse-color" type="button" data-toggle="collapse"
                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    My Quote-Types
                </button>
            </h2>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <div class="row card-row">
                    <div class="card mr-3 my-3 mob-res" style="width: 17.5rem;" *ngFor="let item of quoteType; let i = index">
                        <img src="../../assets/img/upload.png" class="card-img-top" alt="sample">
                        <div class="card-body">
                            <h4 class="card-title">{{item.quote_type_name}}</h4>
                            <p class="card-text para">{{item.description}}</p>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-edit-create mr-1"
                                (click)="quoteTypeEdit(item)">Edit</button>
                            <button type="button" class="btn btn-delete ">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>