* { box-sizing: border-box; } body {margin:0;}
  

.gep-secondtag{

    padding-bottom: 100px;
    padding-top: 50px;
   padding-right:50px;
    
}

#accordionExample{
    margin: auto;
}
.para {
    font-size: 12px;
    line-height: inherit;
}
.btn-delete{
    background-color: unset;
    border-color: #b7b3b3;
}
.btn-edit-create{
   background-color: #2196f4;
   border-color: #2196f4;
   color: white;
}
.btn-edit-create:hover{
    color:white;
}
.card-row {
    margin: unset;
}
.collopse-title{
    font-size: smaller;
    color: white;
    background-color: #2196f4;
}
.card-footer {
    background-color: white;
    border-top: unset;
}

@media (max-width: 576px) {
    .mob-res {
        width: 100% !important;
        margin-right: 0.5rem !important;
    }
}
