:host ::ng-deep .ck-editor__editable_inline {
    min-height: 300px;
  }
  
  .ck-editor__editable_inline {
    min-height: 300px;
  }
  
  .cor{
    color: red;
    margin-right: auto;
    width: 50%;
    margin-left: auto;
  }
  .form{
    padding-left: 125px;
  }
  
  .sendbutton {
    margin-left: 30px;
  }
  
  .savebutton {
    margin-left: 550px;
  }