<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="gep-text-block-acoustic">
      <h1 class="font-weight-light">NISSAN SERVICING</h1>
      <p>Our fixed price service package offers Nissan drivers excellent value. </p>

      <a href="https://www.nissan.co.uk/ownership/nissan-services/service-care.html">
        <button class="btn btn-primary ibmbtn"> Book your expert service </button>
      </a>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6">
    <p>
      <img class="gep-ibm-resize-acoustic" src="assets/extractedimg/ServiceCORPORATE.v4.png">
    </p>
  </div>
</div>
<div class="gep-secondtag gep-mobilesecondtag">
  <h2 class="align">POPULAR SEARCHES</h2>
  <div class="card-body cardmobile">
    <div class="row card-row">
      <div class="card spacing card-width">
        <img class="gep-Firstimage gep-ibm-padding-bottom-1 card-img-top" src="assets/extractedimg/ServicesTile.v4.png">
        <div class="card-body">
          <div class="card-title">
            <h2>SEASONAL OFFERS</h2>
          </div>
          <p>Get a FREE 2 bike carrier with a 7 pin licence plate holder and anti-theft lock worth £129 when you buy a
            Nissan towbar and TEK.</p>

        </div>
        <a href="https://www.nissan.co.uk/ownership/seasonal-offers.html">
          <button class="btn card-footer-btn"> Discover More </button>
        </a>
      </div>

      <div class="card spacing card-width">
        <img class="gep-Firstimage gep-ibm-padding-bottom-1 card-img-top" src="assets/extractedimg/maintenance-online-booking.jpg">
        <div class="card-body">
          <div class="card-title">
            <h2>ONLINE BOOKING</h2>
          </div>
          <p>Your Nissan is brimming with innovation, so when it comes to its care why not choose a level of service
            that’s every bit.</p>

        </div>
        <a href="https://www.nissan-aftersales.co.uk/services/book-a-service">
          <button class="btn card-footer-btn"> Discover More </button>
        </a>
      </div>

      <div class="card spacing card-width">
        <img class="gep-Firstimage gep-ibm-padding-bottom-1 card-img-top" src="assets/extractedimg/DEALERSHIPSHOOT.v2.png">
        <div class="card-body">
          <div class="card-title">
            <h2>GENUINE PARTS</h2>
          </div>
          <p>All Nissan Genuine parts are built to meet the exact specifications of factory fitments.</p>

        </div>
        <a href="https://www.nissan.co.uk/ownership/nissan-services/maintenance-repair/genuine-nissan-parts.html">
          <button class="btn card-footer-btn"> Discover More </button>
        </a>
      </div>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="gep-text-block-acoustic">
      <h1 class="font-weight-light">SERVICE PLAN</h1>
      <p>Our range of Nissan Service Plans covers routine servicing. </p>

      <a href="https://www.nissan.co.uk/ownership/nissan-services/service-contract.html">
        <button class="btn btn-primary ibmbtn"> Find Out More </button>
      </a>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6">
    <p>
      <img class="gep-ibm-resize-acoustic" src="assets/extractedimg/CORPORATESALES.jpg">
    </p>
  </div>
</div>