<p class="font-color">Nissan Social</p>
<div class="row card-row">
    <div class="card spacing">
        <img src="assets/img/Nissan-ariya-car.jpeg" class="gep-Firstimage gep-ibm-padding-bottom-1 card-img-top" alt="sample">
        <div class="card-body">
            <div class="card-title">
                <h2>Nissan</h2>
            </div>
            <p class="card-text">A true force that performs in the city as well as on longer trips.
                The new <a>#Nissan</a> <br/> <a>#ARIYA</a>.
                <a>#IntelligentMobility</a></p>
        </div>
        <div class="card-footer">
            <p class="btmfont-color">6 days ago</p>
        </div>
    </div>

    <div class="card spacing">
        <img src="assets/img/nissan-compact.jpeg" class="gep-Firstimage gep-ibm-padding-bottom-1 card-img-top" alt="sample">
        <div class="card-body">
            <div class="card-title">
                <h2>Nissan</h2>
            </div>
            <p class="card-text">Head to What Car? to find out why you should enjoy driving again 
                with the 100% electric Nissan LEAF <a>http://ms.spr.ly/6180TomjC</a></p>
        </div>
        <div class="card-footer">
            <p class="btmfont-color">10 days ago</p>
        </div>
    </div>
</div>
