<div class="card-body">
    <button class="btn btn-primary" id="openModalButton" [hidden]="true" data-toggle="modal"
        data-target="#largeModal">Large modal</button>
    <div id="largeModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content popup-background">
                <div class="container">
                    <div class="modal-body row">
                        <div class="form-group mx-auto">
                            <img src="assets/img/checked.svg" class="align-img"/>
                        </div>
                    </div>
                    <div class="modal-body row">
                        <div class="form-group mx-auto col-md-6" id="body-model">
                            <p class="text-center">Your request for access is captured and {{action}} the ticket your Incident
                                number: {{incidentNumber}}</p>
                        </div>
                    </div>
                    <div class="modal-body row">
                        <div class="form-group mx-auto">
                            <button class="btn common-btn popup-footer" data-dismiss="modal">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form>
        <div class="form-row">
            <div class="form-group mx-auto col-md-4">
                <select class="custom-select box-color" [(ngModel)]="user.personal_title"
                    [ngModelOptions]="{standalone: true}" id="personal_title" name="personal_title">
                    <option selected>Personal Title</option>
                </select>
            </div>
            <div class="form-group mx-auto col-md-4">
                <input type="text" [(ngModel)]="user.supplier_code" placeholder="Supplier Code"
                    [ngModelOptions]="{standalone: true}" class="form-control box-color" id="flexhours"
                    name="quote.Flex_Hours">
            </div>
            <div class="form-group mx-auto col-md-4">
                <input type="text" [(ngModel)]="user.address_2" placeholder="Address 2"
                    [ngModelOptions]="{standalone: true}" class="form-control box-color" id="flexhours"
                    name="quote.Flex_Hours">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group mx-auto col-md-4">
                <input type="text" [(ngModel)]="user.first_name" class="form-control box-color" placeholder="First Name"
                    [ngModelOptions]="{standalone: true}" id="clientname" name="client_name">
            </div>
            <div class="form-group mx-auto col-md-4">
                <input type="text" [(ngModel)]="user.territory" placeholder="Territory"
                    [ngModelOptions]="{standalone: true}" class="form-control box-color" id="flexhours"
                    name="quote.Flex_Hours">
            </div>
            <div class="form-group mx-auto col-md-4">
                <input type="text" [ngModelOptions]="{standalone: true}" placeholder="Address 3"
                    [(ngModel)]="user.address_3" class="form-control box-color" id="flexhours" name="quote.Flex_Hours">
            </div>

        </div>

        <div class="form-row">
            <div class="form-group mx-auto col-md-4">
                <input type="text" [ngModelOptions]="{standalone: true}" placeholder="Last Name"
                    [(ngModel)]="user.last_name" class="form-control box-color" id="clientname" name="client_name">
            </div>
            <div class="form-group mx-auto col-md-4">
                <input type="text" [(ngModel)]="user.phone" class="form-control box-color" placeholder="Phone Number"
                    [ngModelOptions]="{standalone: true}" id="flexhours" name="quote.Flex_Hours">
            </div>
            <div class="form-group mx-auto col-md-4">
                <input type="text" [(ngModel)]="user.country" placeholder="Country/State"
                    [ngModelOptions]="{standalone: true}" class="form-control box-color" id="flexhours"
                    name="quote.Flex_Hours">
            </div>

        </div>

        <div class="form-row">
            <div class="form-group mx-auto col-md-4">
                <input type="text" [(ngModel)]="user.employee_type" placeholder="Employee Type"
                    [ngModelOptions]="{standalone: true}" class="form-control box-color" id="costperflexhour"
                    name="Cost_per_Flex_Hour">
            </div>
            <div class="form-group mx-auto col-md-4">
                <input type="text" [(ngModel)]="user.fax" class="form-control box-color" id="optional"
                    placeholder="Fax Number" [ngModelOptions]="{standalone: true}" name="Optional_Prepared_By">
            </div>
            <div class="form-group mx-auto col-md-4">
                <input type="text" [(ngModel)]="user.zipcode" placeholder="Post / ZIP code"
                    [ngModelOptions]="{standalone: true}" class="form-control box-color" id="flexhours"
                    name="quote.Flex_Hours">
            </div>

        </div>

        <div class="form-row">
            <div class="form-group mx-auto col-md-4">
                <select class="custom-select box-color" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="user.employee_position" id="tssavppercentage" name="quote.TSS_AVP_Coverage_percent">
                    <option>Employee Position</option>
                </select>
            </div>
            <div class="form-group mx-auto col-md-4">
                <input type="text" class="form-control box-color" placeholder="Partner Description"
                    [(ngModel)]="user.partner_description" [ngModelOptions]="{standalone: true}" id="tssavpcoverage"
                    name="partner_descriptions">
            </div>
            <div class="form-group mx-auto col-md-4">
                <select class="custom-select box-color" [(ngModel)]="user.country_iso_code"
                    [ngModelOptions]="{standalone: true}" id="key" name="quote.key">
                    <option>Country ISO Code</option>
                </select>
            </div>

        </div>

        <div class="form-row">
            <div class="form-group mx-auto col-md-4">
                <input type="text" [(ngModel)]="user.email" placeholder="Email ID" [ngModelOptions]="{standalone: true}"
                    class="form-control box-color" id="flexhours" name="quote.Flex_Hours">
            </div>
            <div class="form-group mx-auto col-md-4">
                <input type="text" [(ngModel)]="user.address_1" class="form-control box-color"
                    [ngModelOptions]="{standalone: true}" placeholder="Address 1" id="avs">
            </div>
            <div class="form-group mx-auto col-md-4">
                <select class="custom-select box-color" [(ngModel)]="user.language_iso_code"
                    [ngModelOptions]="{standalone: true}" id="key" name="quote.key">
                    <option>Language ISO Code</option>
                </select>
            </div>

        </div>
        <div class="form-row">
            <div class="mx-auto col-md-12">
                <button *ngIf="!sysId" type="button" class="btn common-btn mr-2 my-2" (click)="submit()">Submit</button>
                <button *ngIf="sysId" type="button" class="btn common-btn mr-2 my-2" (click)="update()">Update</button>
                <button *ngIf="sysId" type="button" class="btn common-btn mr-2 my-2" (click)="delete()">Delete</button>
                <button type="button" class="btn common-btn my-2" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </form>
</div>