<div class="container component_top">
    <br />
    <br />
    <div class="form-group row form">
        <label >Entity Name:</label>
          <div class="col">
            <input  type="text" class="form-control" [(ngModel)]="entity.Entity_name" 
            style="width: 100%;"placeholder='Enter name' [ngModelOptions]="{standalone: true}"/>
          </div>
          <div class="col">
            <button class="btn btn-primary bottomButtons" (click)="onAddRow()">New Row</button>
          </div>
    </div>
    <div class="errorField" style="padding-top: 2%; display: none">
        <ul>
            <li *ngIf="EnteredReserveWord == null" style="color:red">Please enter the valid one in Name Field</li>
            <li *ngIf="EnteredReserveWord" style="color:red">Please Don't use the reserved word of
                <u>{{EnteredReserveWord}}</u>
            </li>
        </ul>
        <!-- <p style="color:red">Please enter the valid one in Name Field</p> -->
    </div>

    <div style="height: 80%; padding-top: 10px; box-sizing: border-box;">
        <ag-grid-angular #agGrid style="width: 100%; height: 100%;" id="myGrid" class="ag-theme-balham"
            [columnDefs]="columnDefs" [rowData]="rowData" [defaultColDef]="defaultColDef" [animateRows]="true"
            (gridReady)="onGridReady($event)" domLayout='autoHeight' [singleClickEdit]="singleClickEdit"
            (cellValueChanged)="onCellValueChanged($event)"
            [frameworkComponents]="frameworkComponents">
        </ag-grid-angular>
    </div>
    <br />
    <br />
    <div class="bottomButtons">
        <button class="btn btn-primary" color="primary" (click)="save()">Save</button>&nbsp;
        <button class="btn btn-primary" color="warn" (click)="cancel()">Cancel</button>
        <!-- <button mat-raised-button color="warn" (click)="get()">get</button> -->
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'top':
    '100px','display':propertyPopup}">
    <div class="modal-dialog modal-sm" role="dialog">
        <div class="modal-content">
            <div class="delete modal-body">
                <p>Property name already exist, Please enter other value. </p>
            </div>
            <div class="modal-footer" style="padding: 5px">
                <button type="button" class="btn btn-default" (click)="closeModel()">Ok</button>
            </div>
        </div>

    </div>
</div>