<div class="container">
    <div class="row dropdown-row-select">
      <div class="col">
        <select class="custom-select select-tag" id="personal_title" name="personal_title">
          <option>Dealer GB/ English</option>
        </select>
      </div>
      <div class="col">
        <label class="font-color-document label-select mob-label-select" for="personal_title">B2B Portal User Guide</label>
        <select class="custom-select right-select-tag" id="personal_title" name="personal_title">
          <option>Select here</option>
        </select>
      </div>
    </div>
    <p class="font-color-document-text">DOCUMENTS</p>
    <p class="font-color-document">B2B Portal User Guide</p>
    <div class="form-row image-row-design">
      <div class="form-group mx-auto col-md-2">
        <div class="card image-card-design">
          <img src="../../assets/img/folder (1).png" />
        </div>
      </div>
      <div class="form-group mx-auto col-md-2">
        <div class="card image-card-design">
          <img src="../../assets/img/Mask Group 4.png" class="mask-group1-image" />
        </div>
      </div>
      <div class="form-group mx-auto col-md-2">
        <div class="card image-card-design">
          <img src="../../assets/img/Group 115.png" class="mask-group1-image" />
        </div>
      </div>
      <div class="form-group mx-auto col-md-2">
        <div class="card image-card-design">
          <img src="../../assets/img/chart.png" class="mask-group1-image" />
        </div>
      </div>
      <div class="form-group mx-auto col-md-2">
        <div class="card image-card-design">
          <img src="../../assets/img/dash.png" class="mask-group1-image" />
        </div>
      </div>
      <div class="form-group mx-auto col-md-2">
        <div class="card image-card-design">
          <img src="../../assets/img/form.png" class="mask-group1-image" />
        </div>
      </div>
    </div>
</div>