    <div class="container">
      <p class="font-color">application</p>
      <div class="form-row">
        <div class="form-group col-md-11">
          <button class="btn ticket-btn button-design" (click)="ticketScreen()">My Tickets</button>
        </div>
      </div>
      <div class="form-check check-box-padding">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label checkbox-label" for="exampleCheck1">Vehicle Distribution</label>
      </div>
      <div class="form-check check-box-padding">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label checkbox-label" for="exampleCheck1">Sales Ops</label>
      </div>
      <div class="form-check check-box-padding">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label checkbox-label" for="exampleCheck1">Rocket (Hods replacements)</label>
      </div>
      <div class="form-check check-box-padding">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label checkbox-label" for="exampleCheck1">NIVOS</label>
      </div>
      <div class="form-check check-box-padding">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label checkbox-label" for="exampleCheck1">N-GAGE</label>
      </div>
      <div class="form-check check-box-padding">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label checkbox-label" for="exampleCheck1">Marketing</label>
      </div>
      <div class="form-check check-box-padding">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label checkbox-label" for="exampleCheck1">NMS</label>
      </div>
      <div class="row btn-group-design">
        <!-- <button type="button" class="btn btn-color button-design">New</button>
        <button type="button" class="btn btn-color button-design">Read</button>
        <button type="button" class="btn btn-color button-design">Edit</button>
        <button type="button" class="btn btn-color button-design">Delete</button> -->
      </div>
    </div>