body {
    background-color: #292424;
}
.card-design {
    margin-top: 30px;
    background-color: #2a2c33;
    box-shadow: 0 4px 8px 0 #00000033;
    width: 32%;
    background-origin: padding-box;
    margin-left: 22px;
    padding-bottom: 21px;
}
.checkbox-label {
    font: Light 24px/46px Poppins;
    letter-spacing: 0px;
    color: #C0C0C0;
    opacity: 1;
}
.check-box-padding {
    padding-bottom: 8px;
}

.card-announce-design {
    margin-top: 30px;
    background-color: #2a2c33;
    box-shadow: 0 4px 8px 0 #00000033;
    width: 62%;
    background-origin: padding-box;
    margin-left: 22px;
    padding-bottom: 21px;
}

.btn-group-design {
    width: 354px;
    margin-top: 0px;
}

.button-design {
    padding-left: 25px;
    padding-right: 25px;
}
.card-quality-guide {
    margin-top: 65px;
    background-color: #2a2c33;
    box-shadow: 0 4px 8px 0 #00000033;
    width: 16%;
    background-origin: padding-box;
    margin-left: 453px;
}
.top-btn-group-design {
    margin-top: 30px;
    width: 100%;
}
.btn-color {
    color: #b6b1b1;
    background-color: #1C1C1E;
}

.ticket-btn {
    background-color:#F7255A;
    color: white;
}

.btn-color-top {
    color: #b6b1b1;
    background-color: #292424;
}
.btn-color-top:hover {
    color: white;
    border-color: #ec0753;
    background-color: #ec0753;
}

.dropdown2 {
    float: right;
}

.card-user-guide {
    margin-top: 25px;
    background-color: #2a2c33;
    box-shadow: 0 4px 8px 0 #00000033;
    width: 96%;
    background-origin: padding-box;
    margin-left: 22px;
    padding-bottom: 21px;
}

.mask-group1-image {
    width: 141%;
    height: 141%;
    margin-left: -20%;
    margin-top: -20px;
}

.mask-group2-image {
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    height: 139px;
}

.mask-group3-image {
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    height: 139px;
}

.mask-group-39-image {
    margin-bottom: -34%;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -21px;
    height: 142%;
}

.pexcels-negative-image {
    margin-top: -20px;
    height: 139px;
    width: 138px;
    margin-left: -20px;
}

.image-card-design {
    border-radius: 20px;
    border: 6px solid #20222b;
    background-color: #292424;
    box-shadow: 0 4px 8px 0 #00000033;
    padding: 20px;
    width: 150px;
    height: 150px;  
}

.font-color-document-text {
    color: white;
}

.select-tag {
    width: 216px;
    background-color: #292424;
    color: #b6b1b1;
    margin-left: -14px;
    border-color: #2a2c33;
}

.label-select {
    margin-left: 293px;
}

.right-select-tag {
    float: right;
    width: 230px;
    background-color: #292424;
    color: #b6b1b1;
    border-color: #2a2c33;
}

.dropdown-row-select {
    margin-top: 28px;
}

.image-row-design {
    margin-left: 0px;
}

.font-color-document{
    color: #b6b1b1;
}
.font-color-quality {
    color: #b6b1b1;
    padding-top: 14px;
    padding-left: 14px;
    
}

.btn-color-b2b {
    color: white;
    background-color: #ec0753;
    border-color: #ec0753;
}

.btn-color:hover {
    color: #b6b1b1;
    border-color: #F7255A;
}

.btn-color-folder {
    color: #b6b1b1;
    border-color: #ec0753;
}
.font-color {
    text-align: left;
    font: Regular 26px/33px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    padding-top: 14px;
}
.card-design:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.container {
    padding: 2px 16px;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}

@media only screen and (max-width: 320px) {
    .card-design {
        margin-top: 30px;
        width: unset;
    }
    .btn-group-design {
        width: unset;
    }
 }

 @media only screen and (max-width: 480px) {
    .card-design {
        width: unset;
    }
    .btn-group-design {
        width: unset;
    }
 }

 @media only screen and (min-width: 481px) and (max-width: 768px) {
    
 }