<br />
<footer itemscope itemtype="http://schema.org/WPFooter" class='grid-row bleed'>
    <h4 class="footerhead">Nissan. Innovation that excites.</h4>
    <div class='gep-secondtag' id='template-i232or'>
        <div class='row footer-width' id='template-iacrog'>
            <div class='col-lg-3 col-md-3 col-sm-3 c_054-3' id='template-iugkvk'>
                <div class='gep-ibm-padding-bottom-5 gep-ibm-padding-top-3 c_054-3' id='template-ionya4'>
                    <h6 class='c_054-3 custome-service'><b>CUSTOMER SERVICES</b></h6>
                </div>
                <p class="element">FAQ</p>
                <p class="element">Glossary</p>
                <p class="element">Contact us</p>
                <p class="element">WLTP Emissions Testing</p>
                <p class="element">GDPR- Protecting your data</p>
                <p class="element">Modern Slavery Statement</p>
                <p class="element">LIVE CHAT</p>
            </div>
            <div class='col-lg-3 col-md-3 col-sm-3 bgcolor' id='template-ionwcl'>
                <div class='gep-ibm-padding-bottom-5 gep-ibm-padding-top-3 c_054-3' id='template-il64kl'>
                    <h6 class='c_054-3'><b>NISSAN RANGE</b></h6>
                </div>
                <p class="element">Commercial vehicles</p>
                <p class="element">Electric cars</p>
                <p class="element">Crossovers</p>
                <p class="element">Hatchbacks</p>
                <p class="element">Nismo</p>
            </div>
            <div class='col-lg-3 col-md-3 col-sm-3 bgcolor' id='template-idep2k'>
                <div class='gep-ibm-padding-bottom-5 gep-ibm-padding-top-3 c_054-3' id='template-iwynfm'>
                    <h6 class='c_054-3'><b>NISSAN NETWORK</b></h6>
                </div>
                <p class="element">Find your Nissan dealer</p>
                <p class="element">Dealer List:A-J</p>
                <p class="element">Dealer List:K-Z</p>
                <p class="element">Nissan Dealer careers</p>
                <p class="element">Nissan Intelligent Mobility</p>
            </div>
            <div class='col-lg-3 col-md-3 col-sm-3 bgcolor' id='template-ikp2uh'>
                <div class='gep-ibm-padding-bottom-5 gep-ibm-padding-top-3 c_054-3' id='template-iuzusc'>
                    <h6 class='c_054-3'><b>NISSAN SOCIAL</b></h6>
                </div>
                <div>
                    <span class='Geppetto' id='template-ipov3j' style="margin-top: 231px; margin-right: 5px; color: white;">

                        Powered By Geppetto
                        
                    <img src='assets/img/GeppettoIcon.png' width='50' height='50' id='template-ioolwf'>
                    </span>
                </div>
                <!-- <div class="row">
                    <div>
                        <img src='assets/img/facebook1-icon.jpeg' style="width: 30px; background-color: #c1c1c1;">
                    </div>
                    <div>
                        <img src='assets/img/twitter.png'style="width: 30px; background-color: #c1c1c1;">
                    </div>
                    <div>
                        <img src='assets/img/youtube.png' style="width: 30px; background-color: #c1c1c1;">
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <hr id='template-ifq9sl'>
</footer>
<footer>
    <div class='gep-secondtag black dark-footer'>
        <div class="dark-footer-left">
            <a id='template-igluut'>
                <span class='gep-footercontent dark-footer-content-text-left' id='template-idme0w'>Global sites</span>
                <span class='gep-footercontent dark-footer-content-text-left' id='template-ie5l1y'>Sitemap</span>
                <span class='gep-footercontent dark-footer-content-text-left' id='template-ifax4v'>Newsroom</span>
                <span class='gep-footercontent dark-footer-content-text-left' id='template-ialb51'>Recruitment</span>
            </a>
        </div>
        <div class="footer-align dark-footer-right">
            <a class="footer-items">
                <span class='Geppetto dark-footer-content-text-right'>© Nissan 2020</span>
                <span class='Geppetto dark-footer-content-text-right'>Terms & Conditions</span>
                <span class='Geppetto dark-footer-content-text-right'>Cookies</span>
                <span class='Geppetto dark-footer-content-text-right'>Privacy</span>
            </a>
        </div>
    </div>
</footer>