<div class="row">  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="gep-text-block-acoustic">
      <h1 class="font-weight-light">Testing the devops issue</h1>
      <p>Testing the generation of code with three pages and seeing if it is all working good.</p>
      
      <button type="button" class="btn btn-primary ibmbtn"> Read More </button>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6">
    <p>
      <img class="gep-ibm-resize-acoustic" src="assets/img/screenshot-content-eu-1.content-cms.com-2020.06.08-12_24_42.png">
    </p>
  </div>
</div><div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="gep-text-block-acoustic">
      <h1 class="font-weight-light">Test section one</h1>
      <p>Test section one</p>
      
      <button type="button" class="btn btn-primary ibmbtn"> Read More </button>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6">
    <p>
      <img class="gep-ibm-resize-acoustic" src="assets/img/screenshot-github.com-2020.05.21-12_33_36.png">
    </p>
  </div>
</div><div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="gep-text-block-acoustic">
      <h1 class="font-weight-light">Test section two</h1>
      <p>Testing section two</p>
      
      <button type="button" class="btn btn-primary ibmbtn"> Read More </button>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6">
    <p>
      <img class="gep-ibm-resize-acoustic" src="assets/img/screenshot-localhost_4200-2020.05.20-23_49_00.png">
    </p>
  </div>
</div>
