<div class="gep-secondtag gep-mobilesecondtag container">
    <p class="font-color">NISSAN EVENTS</p>
    <div class="row announce-row-design">
        <!-- <div class="col-lg-4 col-md-4 col-sm-4">
            <div>
                <h2>TOKYO MOTORSHOW 2019</h2>
                <img class="gep-Firstimage gep-ibm-padding-bottom-1" src="assets/img/2019-tokyo-motor.v1.jpg">
                <p>JOIN THE ELECTRIC MOVEMENT WITH ARIYA CONCEPT</p>

                <button type="button" class="btn btn-primary">Learn More</button>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4">
            <div>
                <h2>GENEVA MOTORSHOW 2019</h2>
                <img class="gep-Firstimage gep-ibm-padding-bottom-1" src="assets/img/Heliossmart.v1.jpg">
                <p>DISCOVER YOUR FUTURE DRIVEWAY</p>

                <button type="button" class="btn btn-primary">Learn More</button>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4">
            <div>
                <h2>MOTORSHOW</h2>
                <img class="gep-Firstimage gep-ibm-padding-bottom-1" src="assets/img/HMSHeliossmart.v1.jpg">
                <p>Join Nissan at the IAA Commercial Vehicles Show 2018 in Hannover</p>

                <button type="button" class="btn btn-primary">Discover More</button>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4">
            <div>
                <h2>NISSAN INNOVATION LAB</h2>
                <img class="gep-Firstimage gep-ibm-padding-bottom-1" src="assets/img/gallerysmart.v1.jpg">
                <p>Nissan Innovation Lab brings together Europe's best start-up talents</p>

                <button type="button" class="btn btn-primary">Read More</button>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4">
            <div>
                <h2>GINZA BRAND CENTER</h2>
                <img class="gep-Firstimage gep-ibm-padding-bottom-1" src="assets/img/webbannerHeliosmart.v1.jpg">
                <p>A new informative center at Ginza in Tokyo opened on the 24 September 2016</p>

                <button type="button" class="btn btn-primary">Read More</button>
            </div>
        </div> -->
        <div class="row card-row">
            <div class="card spacing card-width card-mobile-res card-align-mob-res">
                <img class="gep-Firstimage gep-ibm-padding-bottom-1 card-img-top" src="assets/img/nissan-big-car.jpeg">
                <!-- <img src="../../assets/img/nissan-new-model-car-image.jpg" class="card-img-top" alt="sample"> -->
                <div class="card-body">
                    <div class="card-title">
                        <h3>TOKYO MOTORSHOW 2019</h3>
                    </div>
                    <!-- <p class="card-text">JOIN THE ELECTRIC MOVEMENT WITH ARIYA CONCEPT</p> -->
                </div>
                <!-- <div class="card-footer"> -->
                    <button type="button" class="btn card-footer-btn"
                        >Read More</button>
                <!-- </div> -->
            </div>
            <div class="card spacing card-width card-mobile-res">
                <img src="assets/img/nissan-product.jpeg" class="gep-Firstimage gep-ibm-padding-bottom-1 card-img-top" alt="sample">
                <div class="card-body">
                    <div class="card-title">
                        <h3>TOKYO MOTORSHOW 2019</h3>
                    </div>
                    <p class="card-text">JOIN THE ELECTRIC MOVEMENT WITH ARIYA CONCEPT</p>
                </div>
                <!-- <div class="card-footer"> -->
                    <button type="button" class="btn card-footer-btn"
                        >Read More</button>
                <!-- </div> -->
            </div>
            <div class="card spacing card-width card-mobile-res">
                <img src="assets/img/nissan-fb-car.jpg" class="gep-Firstimage gep-ibm-padding-bottom-1 card-img-top" alt="sample">
                <div class="card-body">
                    <div class="card-title">
                        <h3>TOKYO MOTORSHOW 2019</h3>
                    </div>
                    <p class="card-text">JOIN THE ELECTRIC MOVEMENT WITH ARIYA CONCEPT</p>
                </div>
                <!-- <div class="card-footer"> -->
                    <button type="button" class="btn card-footer-btn"
                        >Read More</button>
                <!-- </div> -->
            </div>
            <div class="card spacing card-width card-mobile-res">
                <img src="assets/img/nissan-car-in-road.jpg" class="gep-Firstimage gep-ibm-padding-bottom-1 card-img-top" alt="sample">
                <div class="card-body">
                    <div class="card-title">
                        <h3>TOKYO MOTORSHOW 2019</h3>
                    </div>
                    <p class="card-text">JOIN THE ELECTRIC MOVEMENT WITH ARIYA CONCEPT</p>
                </div>
                <!-- <div class="card-footer"> -->
                    <button type="button" class="btn card-footer-btn"
                        >Read More</button>
                <!-- </div> -->
            </div>
            <div class="card spacing card-width card-mobile-res">
                <img src="assets/img/nissan-kick-car.jpeg" class="gep-Firstimage gep-ibm-padding-bottom-1 card-img-top" alt="sample">
                <div class="card-body">
                    <div class="card-title">
                        <h3>TOKYO MOTORSHOW 2019</h3>
                    </div>
                    <p class="card-text">JOIN THE ELECTRIC MOVEMENT WITH ARIYA CONCEPT</p>
                </div>
                <!-- <div class="card-footer"> -->
                    <button type="button" class="btn card-footer-btn"
                        >Read More</button>
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>