<div id='template-ik8ar'>
    <div id='template-ijwt2'>
        <img class='gep-ibm-resize'
            src="//www-europe.nissan-cdn.net/content/dam/Nissan/gb/homepage/003205_NISS_FIGHTBACK_PHASE%201_NATIONAL%20HOMEPG%20BNR_3000x1300%20-%20v2.jpg.ximg.full.hero.jpg"
            alt='IBM Cloud' id='template-idt67'>
    </div>
    <div class='gep-text-block' id='template-i1nhq'>
            <div class="">
                <b class="html">TOGETHER, LET’S MOVE BEYOND</b>
                <h2 class="title">Our Dealers Are Open &amp; Practicing Social Distancing</h2>
            </div>
        <div id='template-iynfb'>
            <button class="btn cta-link cta-primary">
                Read More
            </button>
             </div>
        <div>
        </div>
    </div>
</div>
<div class='gep-ibmthirdtag' id='template-ixavc' class="takata-call">
    <div class='takata' id='template-ib5nk'>
        <h2 id='template-ijoth'><span>TAKATA AIRBAG INFLATOR – RECALL CAMPAIGN</span></h2>
    </div>
    <div class="link-group">
        <button class="btn takata-primary more-information">
            More Information
        </button>
    </div>
</div>
<br />
<br />
<div class="grid-row">
    <div>
        <div class="title-heading-group discover-range">
            <h2>
                <span >Discover the Nissan Range</span>
            </h2>
        </div>
        
    </div>
    <div class="row grid-row passager-cars">
        <div class='coloumn-3'>
            <a class="passager-cars-color"><b>PASSANGER CARS</b></a>
        </div>
        <div class='coloumn-3'>
            <a><b>ELECTRIC VEHICLES</b></a>
        </div>
        <div class='coloumn-3'>
            <a><b>CROSSOVERS</b></a>
        </div>
        <div class='coloumn-3'>
            <a><b>SPORTS CARS</b></a>
        </div>
        <div class='coloumn-3'>
            <a><b>LVCS</b></a>
        </div>
    </div>
    <br />
    <br />
    <div class='row grid-row' id='template-id7ws1'>
        <div class='image1-coloumn-2 image-div image1-size' id='template-iaqdyg'>
            <div id='template-ied3l4'>
                <img class="image1-size" src='//www-europe.nissan-cdn.net/content/dam/Nissan/gb/vehicles/packshots/dynamic/Leaf_Packshot.png.ximg.l_3_m.smart.png' id='template-ibeci4'>
            </div>
            <div>
                <br />
                <div id='template-ix3fyz'>
                    <h4 class="image1-size">
                        <b>NISSAN LEAF</b>
                    </h4>
                </div>
            </div>
        </div>
        <div class='image1-coloumn-2 image-div image1-size' id='template-iaqdyg'>
            <div id='template-ied3l4'>
                <img class="image1-size" src='//www-europe.nissan-cdn.net/content/dam/Nissan/gb/vehicles/all-new-micra/Desktop_Micra_New_Red.png.ximg.l_3_m.smart.png' id='template-ibeci4'>
            </div>
            <div>
                <br />
                <div id='template-ix3fyz'>
                    <h4 class="image1-size">
                        <b>NISSAN MICRA</b>
                    </h4>
                 </div>   
            </div>
        </div>
        <div class='image1-coloumn-2 image-div image1-size' id='template-iaqdyg'>
            <div id='template-ied3l4'>
                <img class="image1-size" src='//www-europe.nissan-cdn.net/content/dam/Nissan/gb/vehicles/packshots/dynamic/Qashqai_Packshot.png.ximg.l_3_m.smart.png' id='template-ibeci4'>
            </div>
            <div>
                <br />
                <div id='template-ix3fyz'>
                    <h4 class="image1-size">
                        <b>NISSAN QASHQAI</b>
                    </h4>
                </div>    
            </div>
        </div>
        <div class='image1-coloumn-2 image-div image1-size' id='template-iaqdyg'>
            <div id='template-ied3l4'>
                <img class="image1-size" src='//www-europe.nissan-cdn.net/content/dam/Nissan/gb/vehicles/packshots/dynamic/Juke_MY19_Packshot.png.ximg.l_3_m.smart.png' id='template-ibeci4'>
            </div>
            <div>
                <br />
                <div id='template-ix3fyz'>
                    <h4 class="image1-size">
                        <b>NEXT GENERATION NISSAN JUKE</b>
                    </h4>
                </div>
            </div>
        </div>
        <div class='image1-coloumn-2 image-div image1-size' id='template-iaqdyg'>
            <div id='template-ied3l4'>
                <img class="image1-size" src='//www-europe.nissan-cdn.net/content/dam/Nissan/gb/vehicles/packshots/dynamic/X-Trail_Packshot.png.ximg.l_3_m.smart.png' id='template-ibeci4'>
            </div>
            <div>
                <br />
                <div id='template-ix3fyz'>
                    <h4 class="image1-size">
                        <b>NISSAN X-TRAIL</b>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class='row grid-row' id='template-id7ws1'>
        <div class='image1-coloumn-2 image-div image1-size' id='template-iaqdyg'>
            <div id='template-ied3l4'>
                <img class="image1-size" src='//www-europe.nissan-cdn.net/content/dam/Nissan/gb/vehicles/packshots/dynamic/370z_Packshot.png.ximg.l_3_m.smart.png' id='template-ibeci4'>
            </div>
            <div>
                <br />
                <div id='template-ix3fyz'>
                    <h4 class="image1-size">
                        <b>NISSAN 370Z</b>
                    </h4>
                </div>
            </div>
        </div>
        <div class='image1-coloumn-2 image-div image1-size' id='template-iaqdyg'>
            <div id='template-ied3l4'>
                <img class="image1-size" src='//www-europe.nissan-cdn.net/content/dam/Nissan/gb/vehicles/gt-r/my19/880379a_3000x1160.jpg.ximg.l_3_m.smart.jpg' id='template-ibeci4'>
            </div>
            <div>
                <br />
                <div id='template-ix3fyz'>
                    <h4 class="image1-size">
                        <b>NISSAN GT-R</b>
                    </h4>
                 </div>   
            </div>
        </div>
        <div class='image1-coloumn-2 image-div image1-size' id='template-iaqdyg'>
            <div id='template-ied3l4'>
                <img class="image1-size" src='//www-europe.nissan-cdn.net/content/dam/Nissan/gb/vehicles/packshots/dynamic/Navara_MY19_Packshot.png.ximg.l_3_m.smart.png' id='template-ibeci4'>
            </div>
            <div>
                <br />
                <div id='template-ix3fyz'>
                    <h4 class="image1-size">
                        <b>NISSAN NAVARA</b>
                    </h4>
                </div>    
            </div>
        </div>
        <div class='image1-coloumn-2 image-div image1-size' id='template-iaqdyg'>
            <div id='template-ied3l4'>
                <img class="image1-size" src='//www-europe.nissan-cdn.net/content/dam/Nissan/gb/vehicles/packshots/dynamic/E-NV200_Combi_Packshot.png.ximg.l_3_m.smart.png' id='template-ibeci4'>
            </div>
            <div>
                <br />
                <div id='template-ix3fyz'>
                    <h4 class="image1-size">
                        <b>NISSAN E-NV200 COMBI</b>
                    </h4>
                </div>
            </div>
        </div>
        <div class='image1-coloumn-2 image-div image1-size' id='template-iaqdyg'>
            <div id='template-ied3l4'>
                <img class="image1-size" src='//www-europe.nissan-cdn.net/content/dam/Nissan/gb/vehicles/packshots/dynamic/370z_Packshot.png.ximg.l_3_m.smart.png' id='template-ibeci4'>
            </div>
            <div>
                <br />
                <div id='template-ix3fyz'>
                    <h4 class="image1-size">
                        <b>NISSAN 370Z</b>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class='row grid-row' id='template-id7ws1'>
    <div class='coloumn-2 image-div image-size' id='template-iaqdyg'>
        <div id='template-ied3l4'>
            <img class="image-size" src='assets/img/car-street.jpeg' id='template-ibeci4'>
        </div>
        <div>
            <br />
            <div id='template-ix3fyz'>
                <h4 class="h4 image-size">
                    <b>Commercial vehicles </b>
                </h4>
                <br />
                <h3 class="img-text image-size" id='template-ihc3uy'>
                    Explore the LCV range
                </h3>
            </div>
            <div class="discover-group">
                <button class="btn cta-secondary discover-a" target="_self">DISCOVER MORE</button>
            </div>
        </div>
    </div>
    <div class='coloumn-2 image-div image-size' id='template-iaqdyg'>
        <div id='template-ied3l4'>
            <img class="image-size" src='assets/img/nissan-arch.png' id='template-ibeci4'>
        </div>
        <div>
            <br />
            <div id='template-ix3fyz'>
                <h4 class="h4 image-size">
                    <b>Nissan for Business & Fleet </b>
                </h4>
                <br />
                <h3 class="img-text image-size" id='template-ihc3uy'>
                    Discover the benefits
                </h3>
            </div>
            <div class="discover-group">
                <button class="btn cta-secondary discover-a" target="_self">DISCOVER MORE</button>
            </div>
        </div>
    </div>
    <div class='coloumn-2 image-div image-size' id='template-iaqdyg'>
        <div id='template-ied3l4'>
            <img class="image-size" src='assets/img/nissan-smart-image.jpg' id='template-ibeci4'>
        </div>
        <div>
            <br />
            <div id='template-ix3fyz'>
                <h4 class="h4 image-size">
                    <b>INNOVATION AND EXCITEMENT COLLIDE</b>
                </h4>
                <br />
                <h3 class="img-text image-size" id='template-ihc3uy'>
                    UEFA CHAMPIONS LEAGUE
                </h3>
            </div>
            <div class="discover-group">
                <button class="btn cta-secondary discover-a" target="_self">DISCOVER MORE</button>
            </div>
        </div>
    </div>
    <div class='coloumn-2 image-div image-size' id='template-iaqdyg'>
        <div id='template-ied3l4'>
            <img class="image-size" src='assets/img/nissan-new-model-car-image.jpg' id='template-ibeci4'>
        </div>
        <div>
            <br />
            <div id='template-ix3fyz'>
                <h4 class="h4 image-size">
                    <b>INTELLIGENT MOBILITY </b>
                </h4>
                <br />
                <h3 class="img-text image-size" id='template-ihc3uy'>
                    DISCOVER SMARTER DRIVING
                </h3>
            </div>
            <div class="discover-group">
                <button class="btn cta-secondary discover-a" target="_self">DISCOVER MORE</button>
            </div>
        </div>
    </div>
</div>
<div id='template-iywj7c'>
    <div class='gep-secondtag gep-ibm-padding-bottom-3 gep-ibm-padding-top-3' id='template-i7t4yj'>
    </div>
</div>